doctype html
html
  head
    title MUSEOCJF!
    style 
      include ../assets/css/bootstrap.min.css
      include ../assets/css/myCss.css
    script    
      include ../assets/js/fontawesome.min.js
      include ../assets/js/solid.min.js 
      include ../assets/js/brands.min.js
      include ../assets/js/myJs.js
 
  body
  include header.pug
  main
    section.carru.p-3
      div.container.scrollable-div
        if objetos.length > 0
          div.row.row-cols-4
            each o in objetos
              div.col
                div.card.me-2.mb-2
                  img.card-img-top(src=o.primaryImageSmall, alt=o.title, title=`Creado en: ${o.metadataDate}`)
                  span.border.border-primary-subtle
                  div.card-body
                    h5.card-title Titulo
                    p.card-text=o.tituloEsp
                  ul.list-group.list-group-flush
                    li.list-group-item Cultura: #{o.culturaEsp}
                    li.list-group-item Dinastía: #{o.dinastiaEsp}
                  div.card-body
                    a.card-link(href=`/verDetalle/${o.objectID}`) Ir a detalle...
        else
          div.alert.alert-primary(role="alert")
            h4.alert-heading No se encontraron datos!
            p Al parecer no se encontraron datos con los siguientes filtros:
            hr
            p.mb-0 Palabra clave: #{palabraClave}.
            p.mb-0 Departamento: #{departamento}.
            p.mb-0 Localizacion: #{ubicacion}.
      div         
        nav.paginador(aria-label="Page navigation")
        ul.pagination.justify-content-center
            if paginaActual > 1
              li.page-item
                a.page-link(href=`?pagina=${paginaActual - 1}`) Anterior
            else
              li.page-item.disabled
                a.page-link Anterior
            each pag in [...Array(paginaTotal).keys()].map(i => i + 1)
              if pag === paginaActual
                li.page-item.active
                  span.page-link #{pag}
              else
                li.page-item
                  a.page-link(href=`?pagina=${pag}`) #{pag}
            if paginaActual < paginaTotal
              li.page-item
                a.page-link(href=`?pagina=${paginaActual + 1}`) Siguiente
            else
              li.page-item.disabled
                a.page-link Siguiente
  include footer.pug
